/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

1.0 Defaults
2.0 Home Hero
  2.1 Contact
3.0 Posts
4.0 Footer

--------------------------------------------------------------*/

@import '../_sass/bootstrap';
@import '../_sass/mixins';

$primary: #0a0a0a;
$secondary: #FF7B7B;

%opensans {
  font-family: 'Open Sans', sans-serif;
}

%merriweather {
  font-family: 'Merriweather', serif;
}

/*--------------------------------------------------------------
	1.0 Defaults
--------------------------------------------------------------*/

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: #2d3246;
  @extend %opensans;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @extend %merriweather;
  font-weight: 700;
}

article {
  margin: 5em 0;
}

p {
  line-height: 1.8;
  font-size: 1.3em;
}

a {
  @include transition(color .2s ease-in-out);
  &:hover {
    color: #FF5B33;
    text-decoration: none;
  }
}

img {
  width: 100%;
}

button.btn, input.btn {
  padding: 12px 35px;
  margin: 2em 0.5em;
  border: solid 1px #d5e0e7;
  border-radius: 4px;
  color: #2E4453;
  font-weight: 600;
  &:hover, &.btn-default:hover {
    background-color: blue;
    border: solid 1px #493763;
    -moz-box-shadow: 0 1px 0 #b0c5d2;
    -webkit-box-shadow: 0 1px 0 #b0c5d2;
    box-shadow: 0 1px 0 #b0c5d2;
  }
  i {
    padding-right: 0.5em;
  }
  @include bp-xsmall {
    @include horizontal-align;
    margin-bottom: 0.5em;
  }
}

.main {
  background-color: blue;
  border-left: solid 1px #cedfea;
  border-right: solid 1px #cedfea;
  &.container {
    padding: 0;
  }
}

.section-jump {
  position: relative;
  top: 0;
  color: #C8D7E1;
  margin: 0 auto;
  display: table;
  @include transition(top .2s ease-in);
  &:hover {
    top: 3px;
  }
}

/*--------------------------------------------------------------
	2.0 Home Hero
--------------------------------------------------------------*/
.bio-pic {
  width: 300px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.hero-container {
  margin: 10em 0 9em 0;
  @include bp-xsmall {
    margin: 5em 0 5em 0;
  }
  @include bp-small {
    margin: 5em 0 5em 0;
  }
}

.hero-content {
  width: 60
