<!doctype html>
<head>

  <!-- Meta -->
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% elsif post.title %}{{ post.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.description }}{% endif %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.url }}/feed.xml">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.url }}/atom.xml">

  <!-- Favicons -->
  <link rel="icon" href="{{ site.url }}/img/favicon.png">

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700|Merriweather:400,300,300italic,400italic,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ "/css/animate.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

</head>
<header data-test="header" id="header" class="
    
      
        dark
      
    
    header theme-col--primary
  " data-controller="Header" data-current-styles="{
&quot;layout&quot;: &quot;navRight&quot;,
&quot;action&quot;: {
&quot;href&quot;: &quot;/take-action&quot;,
&quot;buttonText&quot;: &quot;Take Action&quot;,
&quot;newWindow&quot;: false
},
&quot;showSocial&quot;: true,
&quot;socialOptions&quot;: {
&quot;socialBorderShape&quot;: &quot;none&quot;,
&quot;socialBorderStyle&quot;: &quot;outline&quot;,
&quot;socialBorderThickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 1.0
}
},
&quot;menuOverlayAnimation&quot;: &quot;fade&quot;,
&quot;cartStyle&quot;: &quot;cart&quot;,
&quot;cartText&quot;: &quot;Cart&quot;,
&quot;showEmptyCartState&quot;: true,
&quot;cartOptions&quot;: {
&quot;iconType&quot;: &quot;solid-7&quot;,
&quot;cartBorderShape&quot;: &quot;none&quot;,
&quot;cartBorderStyle&quot;: &quot;outline&quot;,
&quot;cartBorderThickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 1.0
}
},
&quot;showButton&quot;: true,
&quot;showCart&quot;: false,
&quot;showAccountLogin&quot;: true,
&quot;headerStyle&quot;: &quot;dynamic&quot;,
&quot;languagePicker&quot;: {
&quot;enabled&quot;: false,
&quot;iconEnabled&quot;: false,
&quot;iconType&quot;: &quot;globe&quot;,
&quot;flagShape&quot;: &quot;shiny&quot;,
&quot;languageFlags&quot;: [ ]
},
&quot;mobileOptions&quot;: {
&quot;layout&quot;: &quot;logoLeftNavRight&quot;,
&quot;menuIcon&quot;: &quot;doubleLineHamburger&quot;,
&quot;menuIconOptions&quot;: {
&quot;style&quot;: &quot;doubleLineHamburger&quot;,
&quot;thickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 1.0
}
}
},
&quot;dynamicOptions&quot;: {
&quot;border&quot;: {
&quot;enabled&quot;: false,
&quot;position&quot;: &quot;allSides&quot;,
&quot;thickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 4.0
}
}
},
&quot;solidOptions&quot;: {
&quot;headerOpacity&quot;: {
&quot;unit&quot;: &quot;%&quot;,
&quot;value&quot;: 100.0
},
&quot;border&quot;: {
&quot;enabled&quot;: false,
&quot;position&quot;: &quot;allSides&quot;,
&quot;thickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 4.0
}
},
&quot;dropShadow&quot;: {
&quot;enabled&quot;: false,
&quot;blur&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 30.0
},
&quot;spread&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 0.0
},
&quot;distance&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 0.0
}
},
&quot;blurBackground&quot;: {
&quot;enabled&quot;: false,
&quot;blurRadius&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 12.0
}
}
},
&quot;gradientOptions&quot;: {
&quot;gradientType&quot;: &quot;faded&quot;,
&quot;headerOpacity&quot;: {
&quot;unit&quot;: &quot;%&quot;,
&quot;value&quot;: 90.0
},
&quot;border&quot;: {
&quot;enabled&quot;: false,
&quot;position&quot;: &quot;allSides&quot;,
&quot;thickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 4.0
}
},
&quot;dropShadow&quot;: {
&quot;enabled&quot;: false,
&quot;blur&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 30.0
},
&quot;spread&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 0.0
},
&quot;distance&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 0.0
}
},
&quot;blurBackground&quot;: {
&quot;enabled&quot;: false,
&quot;blurRadius&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 12.0
}
}
},
&quot;showPromotedElement&quot;: false
}" data-section-id="header" data-header-theme="" data-menu-overlay-theme="" data-header-style="dynamic" data-language-picker="{
&quot;enabled&quot;: false,
&quot;iconEnabled&quot;: false,
&quot;iconType&quot;: &quot;globe&quot;,
&quot;flagShape&quot;: &quot;shiny&quot;,
&quot;languageFlags&quot;: [ ]
}" data-first-focusable-element="" tabindex="-1" data-controllers-bound="Header">
  
<div class="sqs-announcement-bar-dropzone"></div>

  <div class="header-announcement-bar-wrapper"> 

    <a href="#page" tabindex="1" class="header-skip-link sqs-button-element--primary">
      Skip to Content
    </a>
    


<style>
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .header-blur-background {
            
            
        }
    }
</style>
    <div class="header-border" data-header-style="dynamic" data-test="header-border" style="






  
    border-width: 0px !important;
  



"></div>
    <div class="header-dropshadow" data-header-style="dynamic" data-test="header-dropshadow" style="

"></div>
    
    

    <div class="header-inner container--fluid
      
      
      
       header-mobile-layout-logo-left-nav-right
      
      
      
      
      
      
       header-layout-nav-right
      
      
      
      
      
      
      
      
      " style="






  
    padding: 0;
  



" data-test="header-inner">
      <!-- Background -->
      <div class="header-background theme-bg--primary"></div>

      <div class="header-display-desktop" data-content-field="site-title">
        

        

        

        

        

        
        
          
          <!-- Social -->
          
            
          
        
          
          <!-- Title and nav wrapper -->
          <div class="header-title-nav-wrapper">
            

            

            
              
              <!-- Title -->
              
                <div class="
                    header-title
                    
                  " data-animation-role="header-element">
                  
                    <div class="header-title-text">
                      <a id="site-title" href="/" data-animation-role="header-element">Clarkson</a>
                    </div>
                  
                  
                </div>
              
            
              
              <!-- Nav -->
              <div class="header-nav">
                <div class="header-nav-wrapper">
                  <nav class="header-nav-list">
                    


  
    <div class="header-nav-item header-nav-item--collection">
      <a href="/about" data-animation-role="header-element">
        About
      </a>
    </div>
  
  
  


  
    <div class="header-nav-item header-nav-item--collection">
      <a href="/initiatives" data-animation-role="header-element">
        Initiatives
      </a>
    </div>
  
  
  


  
    <div class="header-nav-item header-nav-item--collection">
      <a href="/contact-us" data-animation-role="header-element">
        Contact Us
      </a>
    </div>
  
  
  



                  </nav>
                </div>
              </div>
            
            
          </div>
        
          
          <!-- Actions -->
          <div class="header-actions header-actions--right">
            
            
              
                <div class="header-actions-action header-actions-action--social">
                  
                    
                      <a class="icon icon--fill  header-icon header-icon-border-shape-none header-icon-border-style-outline" href="http://twitter.com/squarespace" target="_blank" aria-label="Twitter">
                        <svg viewBox="23 23 64 64">
                          <use xlink:href="#twitter-unauth-icon" width="110" height="110"></use>
                        </svg>
                      </a>
                    
                      <a class="icon icon--fill  header-icon header-icon-border-shape-none header-icon-border-style-outline" href="https://www.linkedin.com/company/squarespace" target="_blank" aria-label="LinkedIn">
                        <svg viewBox="23 23 64 64">
                          <use xlink:href="#linkedin-unauth-icon" width="110" height="110"></use>
                        </svg>
                      </a>
                    
                      <a class="icon icon--fill  header-icon header-icon-border-shape-none header-icon-border-style-outline" href="http://facebook.com/squarespace" target="_blank" aria-label="Facebook">
                        <svg viewBox="23 23 64 64">
                          <use xlink:href="#facebook-unauth-icon" width="110" height="110"></use>
                        </svg>
                      </a>
                    
                  
                </div>
              
            

            

          
          

            
            <div class="showOnMobile">
              
            </div>

            
            <div class="showOnDesktop">
              
            </div>

            
              <div class="header-actions-action header-actions-action--cta" data-animation-role="header-element">
                <a class="btn btn--border theme-btn--primary-inverse sqs-button-element--primary" href="/take-action">
                  Take Action
                </a>
              </div>
            
          </div>
        
          


<style>
  .top-bun, 
  .patty, 
  .bottom-bun {
    height: 1px;
  }
</style>

<!-- Burger -->
<div class="header-burger

  menu-overlay-has-visible-non-navigation-items

" data-animation-role="header-element">
  <button class="header-burger-btn burger" data-test="header-burger">
    <span class="js-header-burger-open-title visually-hidden">Open Menu</span>
    <span hidden="" class="js-header-burger-close-title visually-hidden">Close Menu</span>
    <div class="burger-box">
      <div class="burger-inner header-menu-icon-doubleLineHamburger">
        <div class="top-bun"></div>
        <div class="patty"></div>
        <div class="bottom-bun"></div>
      </div>
    </div>
  </button>
</div>

        
        
        
        
        

      </div>
      <div class="header-display-mobile" data-content-field="site-title">
        
          
          <!-- Social -->
          
            
          
        
          
          <!-- Title and nav wrapper -->
          <div class="header-title-nav-wrapper">
            

            

            
              
              <!-- Title -->
              
                <div class="
                    header-title
                    
                  " data-animation-role="header-element">
                  
                    <div class="header-title-text">
                      <a id="site-title" href="/" data-animation-role="header-element">Clarkson</a>
                    </div>
                  
                  
                </div>
              
            
              
              <!-- Nav -->
              <div class="header-nav">
                <div class="header-nav-wrapper">
                  <nav class="header-nav-list">
                    


  
    <div class="header-nav-item header-nav-item--collection">
      <a href="/about" data-animation-role="header-element">
        About
      </a>
    </div>
  
  
  


  
    <div class="header-nav-item header-nav-item--collection">
      <a href="/initiatives" data-animation-role="header-element">
        Initiatives
      </a>
    </div>
  
  
  


  
    <div class="header-nav-item header-nav-item--collection">
      <a href="/contact-us" data-animation-role="header-element">
        Contact Us
      </a>
    </div>
  
  
  



                  </nav>
                </div>
              </div>
            
            
          </div>
        
          
          <!-- Actions -->
          <div class="header-actions header-actions--right">
            
            
              
                <div class="header-actions-action header-actions-action--social">
                  
                    
                      <a class="icon icon--fill  header-icon header-icon-border-shape-none header-icon-border-style-outline" href="http://twitter.com/squarespace" target="_blank" aria-label="Twitter">
                        <svg viewBox="23 23 64 64">
                          <use xlink:href="#twitter-unauth-icon" width="110" height="110"></use>
                        </svg>
                      </a>
                    
                      <a class="icon icon--fill  header-icon header-icon-border-shape-none header-icon-border-style-outline" href="https://www.linkedin.com/company/squarespace" target="_blank" aria-label="LinkedIn">
                        <svg viewBox="23 23 64 64">
                          <use xlink:href="#linkedin-unauth-icon" width="110" height="110"></use>
                        </svg>
                      </a>
                    
                      <a class="icon icon--fill  header-icon header-icon-border-shape-none header-icon-border-style-outline" href="http://facebook.com/squarespace" target="_blank" aria-label="Facebook">
                        <svg viewBox="23 23 64 64">
                          <use xlink:href="#facebook-unauth-icon" width="110" height="110"></use>
                        </svg>
                      </a>
                    
                  
                </div>
              
            

            

          
          

            
            <div class="showOnMobile">
              
            </div>

            
            <div class="showOnDesktop">
              
            </div>

            
              <div class="header-actions-action header-actions-action--cta" data-animation-role="header-element">
                <a class="btn btn--border theme-btn--primary-inverse sqs-button-element--primary" href="/take-action">
                  Take Action
                </a>
              </div>
            
          </div>
        
          


<style>
  .top-bun, 
  .patty, 
  .bottom-bun {
    height: 1px;
  }
</style>

<!-- Burger -->
<div class="header-burger

  menu-overlay-has-visible-non-navigation-items

" data-animation-role="header-element">
  <button class="header-burger-btn burger" data-test="header-burger">
    <span class="js-header-burger-open-title visually-hidden">Open Menu</span>
    <span hidden="" class="js-header-burger-close-title visually-hidden">Close Menu</span>
    <div class="burger-box">
      <div class="burger-inner header-menu-icon-doubleLineHamburger">
        <div class="top-bun"></div>
        <div class="patty"></div>
        <div class="bottom-bun"></div>
      </div>
    </div>
  </button>
</div>

        
        
        
        
        
      </div>
    </div>
  </div>
  <!-- (Mobile) Menu Navigation -->
  <div class="header-menu header-menu--folder-list
    
    
    
    
    
    " data-current-styles="{
&quot;layout&quot;: &quot;navRight&quot;,
&quot;action&quot;: {
&quot;href&quot;: &quot;/take-action&quot;,
&quot;buttonText&quot;: &quot;Take Action&quot;,
&quot;newWindow&quot;: false
},
&quot;showSocial&quot;: true,
&quot;socialOptions&quot;: {
&quot;socialBorderShape&quot;: &quot;none&quot;,
&quot;socialBorderStyle&quot;: &quot;outline&quot;,
&quot;socialBorderThickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 1.0
}
},
&quot;menuOverlayAnimation&quot;: &quot;fade&quot;,
&quot;cartStyle&quot;: &quot;cart&quot;,
&quot;cartText&quot;: &quot;Cart&quot;,
&quot;showEmptyCartState&quot;: true,
&quot;cartOptions&quot;: {
&quot;iconType&quot;: &quot;solid-7&quot;,
&quot;cartBorderShape&quot;: &quot;none&quot;,
&quot;cartBorderStyle&quot;: &quot;outline&quot;,
&quot;cartBorderThickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 1.0
}
},
&quot;showButton&quot;: true,
&quot;showCart&quot;: false,
&quot;showAccountLogin&quot;: true,
&quot;headerStyle&quot;: &quot;dynamic&quot;,
&quot;languagePicker&quot;: {
&quot;enabled&quot;: false,
&quot;iconEnabled&quot;: false,
&quot;iconType&quot;: &quot;globe&quot;,
&quot;flagShape&quot;: &quot;shiny&quot;,
&quot;languageFlags&quot;: [ ]
},
&quot;mobileOptions&quot;: {
&quot;layout&quot;: &quot;logoLeftNavRight&quot;,
&quot;menuIcon&quot;: &quot;doubleLineHamburger&quot;,
&quot;menuIconOptions&quot;: {
&quot;style&quot;: &quot;doubleLineHamburger&quot;,
&quot;thickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 1.0
}
}
},
&quot;dynamicOptions&quot;: {
&quot;border&quot;: {
&quot;enabled&quot;: false,
&quot;position&quot;: &quot;allSides&quot;,
&quot;thickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 4.0
}
}
},
&quot;solidOptions&quot;: {
&quot;headerOpacity&quot;: {
&quot;unit&quot;: &quot;%&quot;,
&quot;value&quot;: 100.0
},
&quot;border&quot;: {
&quot;enabled&quot;: false,
&quot;position&quot;: &quot;allSides&quot;,
&quot;thickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 4.0
}
},
&quot;dropShadow&quot;: {
&quot;enabled&quot;: false,
&quot;blur&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 30.0
},
&quot;spread&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 0.0
},
&quot;distance&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 0.0
}
},
&quot;blurBackground&quot;: {
&quot;enabled&quot;: false,
&quot;blurRadius&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 12.0
}
}
},
&quot;gradientOptions&quot;: {
&quot;gradientType&quot;: &quot;faded&quot;,
&quot;headerOpacity&quot;: {
&quot;unit&quot;: &quot;%&quot;,
&quot;value&quot;: 90.0
},
&quot;border&quot;: {
&quot;enabled&quot;: false,
&quot;position&quot;: &quot;allSides&quot;,
&quot;thickness&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 4.0
}
},
&quot;dropShadow&quot;: {
&quot;enabled&quot;: false,
&quot;blur&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 30.0
},
&quot;spread&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 0.0
},
&quot;distance&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 0.0
}
},
&quot;blurBackground&quot;: {
&quot;enabled&quot;: false,
&quot;blurRadius&quot;: {
&quot;unit&quot;: &quot;px&quot;,
&quot;value&quot;: 12.0
}
}
},
&quot;showPromotedElement&quot;: false
}" data-section-id="overlay-nav" data-show-account-login="true" data-test="header-menu" style="padding-top: 130.219px;">
    <div class="header-menu-bg theme-bg--primary"></div>
    <div class="header-menu-nav">
      <nav class="header-menu-nav-list">
        
      <div data-folder="root" class="header-menu-nav-folder header-menu-nav-folder--active">
          <!-- Menu Navigation -->
<div class="header-menu-nav-folder-content">

  <div class="container header-menu-nav-item header-menu-nav-item--collection">
    <a href="/about">
      <div class="header-menu-nav-item-content">
        About
      </div>
    </a>
  </div>

  <div class="container header-menu-nav-item header-menu-nav-item--collection">
    <a href="/initiatives">
      <div class="header-menu-nav-item-content">
        Initiatives
      </div>
    </a>
  </div>

  <div class="container header-menu-nav-item header-menu-nav-item--collection">
    <a href="/contact-us">
      <div class="header-menu-nav-item-content">
        Contact Us
      </div>
    </a>
  </div>


</div>

          <div class="header-menu-actions">
            <div class="header-menu-actions-action header-menu-actions-action--social mobile">
              <a class="icon icon--lg icon--fill  header-icon header-icon-border-shape-none header-icon-border-style-outline" href="http://twitter.com/squarespace" target="_blank" aria-label="Twitter">
                <svg viewBox="23 23 64 64">
                  <use xlink:href="#twitter-unauth-icon" width="110" height="110"></use>
                </svg>
              </a>
            </div>
            
            <div class="header-menu-actions-action header-menu-actions-action--social mobile">
              <a class="icon icon--lg icon--fill  header-icon header-icon-border-shape-none header-icon-border-style-outline" href="https://www.linkedin.com/company/squarespace" target="_blank" aria-label="LinkedIn">
                <svg viewBox="23 23 64 64">
                  <use xlink:href="#linkedin-unauth-icon" width="110" height="110"></use>
                </svg>
              </a>
            </div>
            
            <div class="header-menu-actions-action header-menu-actions-action--social mobile">
              <a class="icon icon--lg icon--fill  header-icon header-icon-border-shape-none header-icon-border-style-outline" href="http://facebook.com/squarespace" target="_blank" aria-label="Facebook">
                <svg viewBox="23 23 64 64">
                  <use xlink:href="#facebook-unauth-icon" width="110" height="110"></use>
                </svg>
              </a>
            </div>
            </div>
          
          
          <div class="header-menu-cta">
            <a class="theme-btn--primary btn sqs-button-element--primary" href="/take-action">
              Take Action
            </a>
          </div>
          
        </div></nav>
    </div>
  </div>


<body class="{{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% if page.category %} category-{{ page.category }}{% endif %}{% if page.layout-class %} layout-{{ page.layout-class }}{% endif %}">

<div class="main container" id="top">

  {% if site.enable_nav == true %}
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">{{ site.admin_name }}</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              {% for item in site.nav_item %}
                <li>
                  <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
      </div>
  </nav>
  {% endif %}
