<style>
.container {
  color: #ffffff; /* Set text color to white */
  background-color: #6fd9d9; /* Set fresh and cool background color */
  position: relative;
}

.bio-pic {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 180px; /* Set the image width to 180 pixels */
  height: auto;
}

.hero-content {
  text-align: left; /* Align the content to the left */
  margin-right: 350px; /* Add margin to create space for the image on the right */
}

.hero-content h1 {
  margin-top: 0; /* Remove default margin for the heading */
}

.hero-content p {
  margin: 0;
}

.hero-buttons {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.section-jump {
  display: block;
  text-align: center;
  margin-top: 2em;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2em;
  }
  
  .section-jump {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  
  .recent-work-button {
    color: #6fd9d9;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .recent-work-button:hover {
    background-color: #d9f5f5;
  }
}
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="hero-container">
        <div class="hero-content">
          {% if site.title != '' %}
          <h1>{{site.title}}</h1>
          {% endif %}

          <p>
            I am interested in Development Economics research, particularly education inequality and exploring ways to improve access to quality education, regardless of background or location. I am a final year Master's in Economics student at <a href="https://www.novasbe.unl.pt/en/programs/masters/economics/program">Nova School of Business and Economics</a>. You can find my CV <a href="#">here</a>.
          </p>

          <h3>Fields of Interest</h3>
          <ul>
            <li>Main: Development economics, Economics of Education</li>
            <li>Secondary: Political Economy</li>
          </ul>

          <p> Contact: jemo44t@gmail.com or 52769@novasbe.pt</p>
        </div>

        {% if site.github_username != '' %}
        <div class="hero-buttons">
          <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
        </div>
        {% endif %}

        {% if site.twitter_username != '' %}
        <div class="hero-buttons">
          <a href="https://twitter.com/{{ site.twitter_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg"></i>Twitter</button></a>
        </div>
        {% endif %}

        {% if site.title != '' %}
        <img src="img/JM[1].jpg" class="bio-pic" /><br />
        {% endif %}
        
      </div>
    </div>
  </div>
</div
