<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; 
    /* line-height: 1.5;  */
    /* height: auto; */
    color: #333;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .bio-pic {
    width: 180px;
    /* Set the image width to 180 pixels */
    height: auto;
  }



  .hero-buttons {
    text-align: center;
    margin-top: 1em;
  }

  .hero-buttons a {
    display: inline-block;
    margin-right: 1em;
    /* Add space between icons */
  }

  .hero-buttons a:last-child {
    margin-right: 0;
    /* Remove margin for the last icon */
  }

  .hero-buttons i {
    font-size: 24px;
    /* Set icon size to 24 pixels */
  }

  @media screen and (max-width: 768px) {
    .container {
      padding: 2em;
    }

    .section-jump {
      display: flex;
      justify-content: center;
      margin-top: 1em;
    }

    .recent-work-button {
      color: #6fd9d9;
      border: none;
      padding: 8px 16px;
      font-size: 24px;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }

    .recent-work-button:hover {
      background-color: #d9f5f5;
    }
  }
</style>

<div class="row" style="padding: 10px">
    <div class="col-md-8 text-center">
      <hr>
      <p class="text-left">
        I am a final year Master's in Economics student at <a
          href="https://www.novasbe.unl.pt/en/programs/masters/economics/program" target="_blank"><b>Nova School of
            Business and Economics</b></a> in Lisbon, Portugal. I am interested in Development Economics research.
        In my master's thesis, I study technology adoption and adaptation to climate change in Mozambique 
      </p>
      </p>
      <p class="text-left">
        I received my BA. in Development Economics from <a href="https://bams.mak.ac.ug/school-of-economics/"
          target="_blank"><b>Makerere University</b></a> Kampala,Uganda and my Diploma in Civil Engineering from Uganda
        Technical College Bushenyi.
      </p>

      <p class="text-left">
        You can find my CV <a href="James_Ahabyona_CV.pdf" style="color: #007bff; text-decoration: none;">here</a>.
      </p>
      <p class="text-left">
        Contact: <a href="mailto:jemo44t@gmail.com" style="color: #007bff; text-decoration: none;">jemo44t@gmail.com</a>
        or <a href="mailto:52769@novasbe.pt" style="color: #007bff; text-decoration: none;">52769@novasbe.pt</a>
    </div>
    <div class="hero-container text-center col">
      <img src="img/James.jpg" class="bio-pic" /><br />
      {% if site.github_username != '' or site.twitter_username != '' %}
        <div class="hero-buttons">
          {% if site.github_username != '' %}
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-lg"></i></a>
          {% endif %}

          {% if site.twitter_username != '' %}
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-lg"></i></a>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <!-- <div class="recent-work-button">
  </div>
  <div class="col-md-8 text-center">
    <h2 id="work">
      <span class="fa-solid fa-clipboard"></span> 
      Recent Work
    </h2>
  </div> -->
  </div>
</div>
