{% if paginator.total_pages > 1 %}
<div class="col-md-8 text-center">
        <h2 id="pub">
          <span class="fa fa-pied-piper main-list-item-icon"></span>
          Publications and Forthcoming
        </h2>
        <br>
        <ol reversed="" class="lead text-left">
          <li><a class="pub" href="https://www.dropbox.com/s/nmfppfqsqcamyw9/deportations_firms_bandiera_et_al.pdf?raw=1" target="_blank"><b>The Unintended Consequences of Deportations: Evidence from Firm Behavior in El Salvador</b></a>
            <ul>
              <li> <i>joint with</i> <a class="pub" href="https://www.antonellabandiera.com/" target="_blank">Antonella Bandiera</a>, <a class="pub" href="https://sites.google.com/view/lelys-dinarte/home/" target="_blank">Lelys Dinarte</a>, <a class="pub" href="https://www.sandravrozo.com/" target="_blank">Sandra Rozo</a>, <a class="pub" href="http://www.micaelasviatschi.com/" target="_blank">María Micaela Sviatschi</a>, and <a class="pub" href="http://www.hernanwinkler.com/" target="_blank">Hernán Winkler</a>
              </li><li>Forthcoming, <i>Economic Development and Cultural Change</i></li>
            </ul>
          </li>
        </ol>
        <hr>
      </div>
<nav class="pagination-wrap">
    <ul class="pagination">
        {% if paginator.previous_page %}
        <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
            <li {% if page.url == trail.path %}class="active"{% endif %}>
                <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
            </li>
        {% endfor %}
        {% endif %}

        {% if paginator.next_page %}
        <li>
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
