{% include header.html %}

{% include home-hero.html %}

<main id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if site.section_title or site.section_subtitle %}
          <div class="section-header text-center">
            {% if site.section_title %}
              <h2 class="section-title">{{ site.section_title }}</h2>
            {% endif %}
            {% if site.section_subtitle %}
              <p class="section-subtitle">{{ site.section_subtitle }}</p>
            {% endif %}
          </div>
          <div class="break"></div>
        {% endif %}

        {% for post in paginator.posts %}
          <div class="wow fadeIn">
            {% if post.position == "left" %}
              {% include content-left.html %}
            {% elsif post.position == "right" %}
              {% include content-right.html %}
            {% endif %}
          </div>
        {% endfor %}

        {% include pagination.html %}
      </div>
    </div>
  </div>
</main>

{% include footer.html %}
